.venv/
.envrc

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Large data files
datasets/phototourism
*.tar.gz
*.npy
*.h5
*.pt

# Pipeline outputs
output_1
output/matches
output/benchmarks
cache*
*.log

# External dependencies
external/

benchmark*
.nfs*

docs
figures 

res*